.Header{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    height: 100px;
    background: lightgreen;
}
.Header a{
    text-decoration: none;
    color: lightcoral;
    font-size: 40px;
}